@import "bulma/css/bulma.css";
@import "variables.css";

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: var(--color-grey-light-1);
  color: var(--color-grey-dark);
  font-size: 1.6rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;
}

#main-nav {
  border-bottom: 1px solid var(----color-grey-mid-1);

  & .is-active {
    color: var(--color-grey-dark);
  }
}

#main {
  width: 100%;
}
