:root {
  --color-black: #000;
  --color-grey: #ccc;
  --color-grey-dark: #333;
  --color-grey-light-1: #f0f0f0;
  --color-grey-light-2: #dbdbdb;
  --color-grey-mid-1: #999;
  --color-grey-mid-2: #666;
  --color-grey-mid-3: #505050;
  --color-grey-mid-4: #4a4a4a;
  --color-white: #fff;
  --theme-color-primary: #006a4d;
  --theme-color-primary-dark: #649c00;
  --theme-color-primary-light: #77ba00;
  --theme-color-primary-hover: #004a36;
  --theme-color-secondary-1: #024731;
  --theme-color-secondary-2: #025c69;
  --theme-color-secondary-3: #2178b0;
  --theme-color-secondary-4: #481468;
  --theme-color-error: #dc2a4d;
}
